/* Universal Styles */ 

* {
  margin: 0;
  padding: 0;
}

body{
  display: block;
  margin: 0px;
  width: 100%;
  padding: 0px;
  background-color: #F0F9FA;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

button{
  border: none;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button:hover{
    cursor:pointer;
}

/* Navigation */

header{
  width: 80vw;
  height: 80vh;
  margin: auto;
  background-color: #27B7C7;
  align-items: center;

}

/* Homepage */

header{
width: 100%;
height: 100%;
}

#centraliser{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#timer-block{
  display: block;
  width:inherit;
  margin-top: 35px;
  height: 500px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-items: start;
  padding: 0%;
}
  .hero-text{
    display: flex;
    justify-self: flex-start;
    /*justify-items: flex-start;*/
    flex-wrap: wrap;
  }
    #hi {
      font-family: 'Open Sans', sans-serif;
      color: #FAC59D;
      font-weight: 300;
      font-size: 40px;
    }

    #charlie {
      display: flex;
      justify-self: flex-start;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 800;
      color: #f9f9f9;
      font-size: 150px;
      width: 100%;
    }

    #coding {
      color: #FAC59D;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 40px;
    }

  /* Timer */
  #timer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #F0F9FA;
    top: 10px;
    margin: auto;
    width: 800px;
  }

#down-arrow {
  height: 50px;
  width: 50px;
  bottom: 15%;
  left: 16.1%;
  transform: translate(50%, 50%);
}

#nav-container {
  background-color: #84fab0;
}

.nav-img {
  width: 35px;
}

#social-links {
  padding-top: 30px;
  margin: auto;
  display:inline-flex;
  width: 100%;
  justify-content: space-evenly;
}