/* Universal Styles */ 

* {
  margin: 0;
  padding: 0;
}

body{
  display: block;
  margin: 0px;
  width: 100%;
  padding: 0px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1 {
  color: #F63134;
  font-family: 'Ubuntu', sans-serif;
}

button{
  border: none;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button:hover{
  cursor: pointer;
}

/* Homepage */
header{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  margin: 0;
}

.container-fluid {
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#timer-block{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);;
  display: block;
  width: 856px;
  margin-left: auto;
  margin-right: auto;
  justify-items: flex-start;
  padding: 0%;
}

#hi {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  width: 100%;
}

#charlie {
  display: flex;
  font-weight: 800;
  font-size: 150px;
  width: 100%;
}

#coding {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  width: 100%;
}

/* Timer */
#timer{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #F63134;
}

#down-arrow {
  height: 50px;
  width: 50px;
  bottom: 15%;
  left: 16.1%;
  transform: translate(50%, 50%);
}

#nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #84fab0;
}

.nav-i {
  display: block;
  margin-bottom: 10px;
}

.nav-img {
  width: 35px;
}

#social-links {
  padding-top: 30px;
  margin: auto;
  display:inline-flex;
  width: 100%;
  justify-content: space-evenly;
}