/* Universal Styles */ 

:root{
  display: block;
  width: 100%
}

* {
  margin: 0;
  padding: 0;
}

body{
  display: block;
  margin: 0px;
  width: 100%;
  padding: 0px;
  background-color: #393d3f;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

button{
  border: none;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button:hover{
    cursor:pointer;
}

/* Navigation */

header{
  width: 100%;
}

#navbar {
  padding-top: 35px;
  margin: auto;
  width: 800px;
  display: flex;
  padding-bottom: 100px;
  align-items: baseline;
  justify-content: space-around;
  border: solid;
}

  #nav {
    display: flex;
    margin: auto;
    align-items: center;
    width: fit-content;
  }

    #nav a{
      float: left;
    }

    #nav a h1{
      font-size: 16px;
      color: black;
    }
    
    #logo:hover{
      cursor: pointer;
    }

    #nav-items-container{
      display: flex;
      flex-wrap: nowrap;
      padding-left: 50px;
      align-items: center;
    }

      /* Navigation Items */
      .nav-i {
          text-decoration: none;
          font-family: Arial, Helvetica, sans-serif;
          color: black;
          font-size: 20px;
          position: relative;
          padding: 20px 0px;
          margin: 0px 20px;
      }

        .nav-i:hover{
            cursor: pointer;
        }

        .nav-i::before {
          transition: 300ms;
          height: 5px;
          content: "";
          position: absolute;
          background-color: black;
        }

        .nav-animate::before {
          width: 0%;
          bottom: 10px;
        }

        .nav-animate:hover::before {
          width: 100%;
        }

      /* The dropdown container in Nav Bar */
      .dropdown {
        float: left;
        overflow: hidden;
      }

        .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        }

        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        .dropdown-content a {
          float: none;
          color: black;
          padding: 10px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          font-family: Arial, Helvetica, sans-serif;
        }

        .dropdown-content a:hover {
          background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }

/* Homepage */

/* Hero */
#timer-block{
  display: block;
  width:inherit;
  margin-top: 35px;
  height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
  .hero-text{
    margin: auto;
    display: flex;
    width: 53%;
    justify-self: flex-start;
    flex-wrap: wrap;
  }
    #hi {
      font-family: Arial, Helvetica, sans-serif;
      color: #80ffdb;
      font-size: 40px;
    }

    #charlie {
      font-family: 'Rubik Mono One', serif;
      font-weight: 20;
      color: #F72585;
      font-size: 120px;
    }

    #coding {
      color: #4895EF;
    }

  /* Timer */
  #timer{
    display: flex;
    width: 50%;
    font-family: helvetica;
    font-size: 40px;
    justify-content: space-evenly;
    color: #4895EF;
    position: relative;
    top: 10px;
    margin: auto;
    width: 800px;
    border: solid;
  }

